@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-primary: 'Archivo Black', serif;
  --font-secondary: 'Montserrat', serif;
  --font-para: 'Poppins', serif;
  --font-style: 'Shadows Into Light', serif;
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Scrollbar Styling */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  /* background-color: #ebebeb; */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
